
/*
  !/README.md
  !/.gitignore
  !/.gitmodules
  !/.zshrc
  !/.gdbinit
  !/.Xresources
  !/.gtkrc-2.0
  !/.local/
    /.local/* 
    !/.local/bin/
      /.local/bin/*
      !/.local/bin/safe_rm
      !/.local/bin/letters
      !/.local/bin/loc
  !/.config/
    /.config/*
    !/.config/i3/
    !/.config/i3blocks/
    !/.config/gtk-3.0/
    !/.config/zsh/
    !/.config/nvim/
    !/.config/astronvim/
